body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #f0f0f0;
}

.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  background-color: #6b566d;
  color: white;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
}

.step {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.step-number {
  background-color: #ccc;
  color: black;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-weight: bold;
}

select, textarea, input {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background: #998099;
  color: white;
  font-size: 16px;
  margin-top: 10px;
}

select:focus, textarea:focus, input:focus {
  outline: none;
  background: #876a87;
}

.option-btn {
  background: #998099;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px 12px;
  margin: 5px 5px 0 0;
  cursor: pointer;
}

.option-btn:hover {
  background: #876a87;
}

.dob-inputs {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

textarea {
  resize: none;
  height: 80px;
}

.info {
  font-size: 12px;
  color: #ddd;
  margin-top: 4px;
}
